<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>

    <img src="assets/img/about_buzzin.jpg" />

    <ion-card-header>
      Enjoy a whole new event experience!
    </ion-card-header>
    <ion-card-content>
      Buzzin is the first app to provide exciting “Augmented reality” experiences across major festivals and events in the UK. Working with some of the biggest and best festivals, events, nightclubs, restaurants and more. Use your phone camera to unlock hidden content, exclusive deals, animations and useful travel info. Famous include Manchester Pride and Chinese New year 2017.
Buzzin also offers massive discounts from 50% off to free gig tickets based on where you are and when you’re there. Buzzin takes into consideration your location, the day and the time, to offer you a discount or freebie both beneficial for you and the venue!
      <span style="display: block; padding-top: 1.3em;"> We are constantly improving our services with a vision of a connected smart mobility service. Just shake your phone wherever
you are in the app to give us your Feedback.
</span>
</ion-card-content>
</ion-card>

<ion-card>

  <ion-card-header>
    App Version : 3.0.0
  </ion-card-header>

  <ion-card-content>

    <ul>
      <li> <a href="mailto://info@buzzinapp.com"> Contact Us: info@buzzinapp.com </a> </li>
      <li> <a href="http://buzzinapp.com/terms-and-condition/"> Terms and conditions </a> </li>
      <li> <a href="http://buzzinapp.com/refund-policy/">  Refund Policy</a> </li>
      <li> <a href="http://buzzinapp.com/privacy-policy/"> Privacy Policy  </a></li>
    </ul>

    <h5> Legal </h5>

    <div class="gmaps">
      Google Maps
      <button ion-button block (click)="showMapsLicense()"> Legal Notices </button>
    </div>

  </ion-card-content>

</ion-card>

</ion-content>