page-login {
 top: 60px;
}


.seperator {
    border-bottom: 1px solid #e4e4e4;
    color: #999;
    font-size: 13px;
    line-height: 0;
    margin: 20px -30px;
    text-align: center;

    .label {
     background: #fff;
     padding: 0 10px;
    }
}

.fb_login {
    img {
        width: 85%;
        margin: 0 auto;
    }
}