<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button menuToggle icon-only>
              <ion-icon name="md-menu"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>
            Login
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-card-content>

            <form [formGroup]="loginForm" (ngSubmit)="submit()">

                <ion-item>
                    <ion-input formControlName="email" type="email" placeholder="Email" name="email"></ion-input>
                </ion-item>

                <ion-item *ngIf="loginForm.controls.email.hasError('required') && loginForm.controls.email.dirty ">
                    <p class="error"> Email is required. </p>
                </ion-item>


                <ion-item *ngIf="loginForm.controls.email.hasError('invalidEmail') && loginForm.controls.email.dirty">
                    <p class="error"> Email is invalid. </p>
                </ion-item>

                <ion-item>
                    <ion-input formControlName="password" type="password" placeholder="Password" name="password"></ion-input>
                </ion-item>

                <ion-item *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.dirty">
                    <p class="error"> Password is required. </p>
                </ion-item>

                <ion-item>
                    <ion-label>Remember me ?</ion-label>
                    <ion-checkbox color="primary" (ionChange)="onCheckbox($event)" [checked]="rememberMe"></ion-checkbox>
                </ion-item>


                <ion-item>
                    <a (click)="goToResetPassword()"> Forgot Password ? </a>
                </ion-item>



                <button type="submit" ion-button block> sign in </button>

            </form>


            <ion-item>
                No account? <a (click)="goToRegistration()"> create one now! </a>
            </ion-item>

            <ion-item>
                <div class="seperator">
                    <span class="label">OR</span>
                </div>
            </ion-item>

            <ion-item>
                <a (click)="facebookLogin()" class="fb_login"><img src="assets/img/fb_login.png" width="100%" height="100%"></a>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>