<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
        </ion-buttons>

        <ion-title>
            More Information
        </ion-title>

        <ion-buttons right>
            <button ion-button (click)="dismiss()"> CLOSE </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            {{ content.title }}
        </ion-card-header>
        <ion-card-content>
            {{ content.description }}
        </ion-card-content>
    </ion-card>
</ion-content>