<ion-card>
    <div class="toolbar" [style.background]="collection.Customization.primaryColor">
        <span class="icon"> <ion-icon name="md-list"></ion-icon> </span>
        <span class="title"> {{ collection.CollectionName }} </span>
        <span class="spacer"> </span>
        <span class="counter"> {{ collection.UserCollected }} / {{ collection.CollectionCount }} </span>
    </div>
    <ion-card-content>
        <md-grid-list cols="4" rowHeight="6.25em" gutterSize="2px" class="collectables">
            <md-grid-tile class="collectable" *ngFor="let collectionItem of collection.CollectionItems" (click)="onItemClick(collectionItem)"
                [style.background]="collection.Customization.primaryColor">
                <div class="coin {{collectionItem.Name}}" [class.hidden]="!collectionItem.hasBeenCollected"></div>
                <div class="label"> {{ collectionItem.Name }} </div>
            </md-grid-tile>
        </md-grid-list>
    </ion-card-content>
    <ion-row>
        <ion-col>
            <p class="prizeMsg" *ngIf="collection.UserCollected < 3"> Collect 3 Zodiacs to win a Prize </p>
            <p class="prizeMsg" *ngIf="collection.UserCollected >= 3"> <button ion-button (click)="prizeButton()"> Claim Prize </button> </p>
            <p class="prizeMsg" *ngIf="collection.UnitsAvailable < 1"> Oops, Looks like your too later, all the prizes have been won! </p>
        </ion-col>
    </ion-row>
</ion-card>