  collection-item {

  .collectables .coin::after {
    display: block;
    content: ' ';
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin: 0 auto;
    background: url( https://bs2.cdn.telerik.com/v1/lacs5sag3ylbwzm7/9ae18e00-d744-11e6-aa48-a5fcd4871872 ) no-repeat;
    background-size: 234px 180px;
  }

  .collectables .coin.rat::after, .collectables .coin.Rat::after {
    background-position: 0 0;
  }
  .collectables .coin.ox::after, .collectables .coin.Ox::after {
    background-position: -58px 0;
  }
  .collectables .coin.tiger::after, .collectables .coin.Tiger::after {
    background-position: -116px 0;
  }
  .collectables .coin.dragon::after, .collectables .coin.Dragon::after {
    background-position: -174px 0;
  }
  .collectables .coin.snake::after, .collectables .coin.Snake::after {
    background-position: 0 -59px;
  }
  .collectables .coin.monkey::after, .collectables .coin.Monkey::after {
    background-position: -58px -59px;
  }
  .collectables .coin.rooster::after, .collectables .coin.Rooster::after {
    background-position: -116px -59px;
  }
  .collectables .coin.dog::after, .collectables .coin.Dog::after {
    background-position: -174px -59px;
  }
  .collectables .coin.horse::after, .collectables .coin.Horse::after {
    background-position: 0 -118px;
  }
  .collectables .coin.ram::after, .collectables .coin.Ram::after {
    background-position: -58px -118px;
  }
  .collectables .coin.pig::after, .collectables .coin.Pig::after {
    background-position: -116px -118px;
  }
  .collectables .coin.rabbit::after, .collectables .coin.Rabbit::after {
    background-position: -174px -118px;
  }


  .collectable {

    figure {
      flex-direction: column;
    }
    .coin {
      height: calc( 100% - 21px );
      &.hidden {
        &::after {
          filter: blur(1px) grayscale(100%);
        }
      }
    }
    .label {
      text-align: center;
      width: 100%;
      height: 21px;
      padding: 5px 0;
      color: #fff;
    }
  }

  .toolbar {
    height: 64px;
    background: #e74c3c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
  }

  .toolbar .title,
   .toolbar .spacer,
   .toolbar .counter,
   .toolbar .icon {
    display: block;
    touch-action: none;
  }

   .toolbar .title {
    font-family: 'Roboto';
    font-size: 1.25em;
  }

   .toolbar .spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

   .toolbar .counter {
    font-size: 1.5em;
    padding-right: 20px;
  }

   .toolbar .icon {
    padding: 20px;
  }

  .prizeMsg {
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 1.3em;
  }
  }