<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
        </ion-buttons>

        <ion-title>
            Collections
        </ion-title>

        <ion-buttons right>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <collection-item *ngFor="let item of collections" [collectionItem]="item" (item-click)="moreInfo($event)" (button-click)="onPrizeButtonClick($event)"> </collection-item>
</ion-content>