splashscreen {

    .imageHolder {
        width: 80vh;
        height: 60vh;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .message {
        height: 125px;
        width: 80%;
        margin: 0 auto;

        border: 2px solid #fff;
        border-radius: 4px;
    }

}
