<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>

        </ion-buttons>

        <ion-title>
            Sign up!
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content>

            <form [formGroup]="registrationForm" (ngSubmit)="submit()">


                <ion-item>
                    <ion-input type="text" formControlName="username" placeholder="Username" [ngClass]="{'invalid':!registrationForm.controls['username'].valid}"></ion-input>
                </ion-item>

                <ion-item *ngIf="registrationForm.controls.username.hasError('required') && registrationForm.controls.username.dirty">
                    <p class="error"> Username is required. </p>
                </ion-item>

                <ion-item>
                    <ion-input type="text" formControlName="displayname" placeholder="Display Name" [ngClass]="{'invalid':!registrationForm.controls['displayname'].valid}"></ion-input>
                </ion-item>

                <ion-item *ngIf="registrationForm.controls.displayname.hasError('required')  && registrationForm.controls.displayname.dirty">
                    <p class="error"> Display Name is required. </p>
                </ion-item>


                <ion-item>
                    <ion-input type="email" formControlName="email" placeholder="Email Address" [ngClass]="{'invalid':!registrationForm.controls['email'].valid}"></ion-input>
                </ion-item>

                <ion-item *ngIf="registrationForm.controls.email.hasError('required')  && registrationForm.controls.email.dirty">
                    <p class="error"> Email is required.</p>
                </ion-item>

                <ion-item *ngIf="registrationForm.controls.email.hasError('invalidEmail')  && registrationForm.controls.email.dirty">
                    <p class="error"> Email is invalid. </p>
                </ion-item>

                <ion-item>
                    <ion-input type="password" formControlName="password" placeholder="Password" [ngClass]="{'invalid':!registrationForm.controls['password'].valid}"></ion-input>
                </ion-item>

                <ion-item *ngIf="registrationForm.controls.password.hasError('required') && registrationForm.controls.password.dirty">
                    <p class="error"> Password is required. </p>
                </ion-item>
                <ion-item *ngIf="registrationForm.controls.password.hasError('maxlength') && registrationForm.controls.password.dirty">
                    <p class="error"> Password isn't long enough. </p>
                </ion-item>

                <ion-item>
                    <ion-input type="password" formControlName="password_confirm" placeholder="Confirm password" [ngClass]="{'invalid':!registrationForm.controls['password_confirm'].valid}"></ion-input>
                </ion-item>

                <ion-item *ngIf="registrationForm.hasError('mismatchedPasswords') && registrationForm.controls.password_confirm.dirty">
                    <p class="error"> Passwords do not match. </p>
                </ion-item>


                <button type="submit" ion-button block> create account </button>

                <ion-item>
                    <div class="seperator">
                        <span class="label">OR</span>
                    </div>
                </ion-item>

                <ion-item>
                    <a (click)="facebookRegister()" class="fb_signup"><img src="assets/img/fb_signup.png" width="100%" height="100%"></a>
                </ion-item>

            </form>

        </ion-card-content>
    </ion-card>

</ion-content>