<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
              <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Home
    </ion-title>

    <ion-buttons right>
      <button ion-button id="quickScan" (click)="directOpen(item, true)">
              <ion-icon name="md-qr-scanner"></ion-icon> scan
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-list *ngIf="wikitudeSupported">
    <ion-card *ngFor="let item of ARItems" (click)="openExperience(item, item.requiresAuth)">
      <img [src]="item.ImageUrl" />
      <div class="card-title">
        {{ item.Name }}
      </div>

      <div class="card-subtitle">
        {{ item.Description }}
      </div>

    </ion-card>
  </ion-list>

  <ion-card *ngIf="!wikitudeSupported">
    <ion-card-header>
      We're Sorry!
    </ion-card-header>

    <ion-card-content>
      Your device does not support AR Features, so they have been disabled.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="https://bs1.cdn.telerik.com/v1/lacs5sag3ylbwzm7/c40d8a70-e31c-11e6-9f26-eda2e4246752" />

  </ion-card>
</ion-content>