<!--
  Generated template for the License page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>license</ion-title>

            <ion-buttons right>
            <button ion-button (click)="dismiss()"> CLOSE </button>
        </ion-buttons>
  </ion-navbar>
  

</ion-header>


<ion-content padding>

  <p> {{ licenseText }} </p>

</ion-content>
