<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>

        </ion-buttons>

        <ion-title>
            {{ PageTitle }}
        </ion-title>

        <ion-buttons right>
            <button *ngIf="experienceName === 'ZodiacHunt'" (click)="goToCollections()" ion-button icon-only md-tooltip="click here to see your collected zodiacs"
                tooltip-position="below">
                <ion-icon name="ios-keypad"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div #map id="map" style="height:100%;">

<button *ngIf="showBeginHuntButton" class="map_btn" (click)="loadExperience()"> Begin Hunt! </button>
<button *ngIf="showBeginExperience" class="map_btn" (click)="loadExperience()"> Begin Experience </button>

</div>
</ion-content>