page-map {
    top: 60px;

    #map_canvas {
        width: 100%;
        height: 100%;
    }

    .map_btn {
            background: #E20613;
            color: #ffffff;
            font-size: 1.4em;
            font-weight: 700;
            border: 0;
            padding: 15px 55px;
            border-radius: 10px;
            margin: 0 auto;
            box-shadow: #C00510 0px 5px 0px 0px;
            transition: visibility 0.5s, opacity 0.55s, box-shadow 0.5;
            bottom: 50px;
            width: 70%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

}