<ion-menu id="mainmenu" [content]="content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title> Buzzin </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list *ngIf="user.isLoggedIn" no-lines>
            <ion-item>
                <ion-icon name="md-user"></ion-icon>
                Hi, {{ user.details.ShortName }}
            </ion-item>
            <button menuClose *ngFor="let menuitem of authenticatedMenu" ion-item (click)="menuitem.action()">
                <ion-icon [name]="menuitem.icon" item-left></ion-icon>
                {{ menuitem.text }}
            </button>
        </ion-list>
        <ion-list *ngIf="!user.isLoggedIn" no-lines>
            <button menuClose *ngFor="let menuitem of unauthenticatedMenu" ion-item (click)="menuitem.action()">
                <ion-icon [name]="menuitem.icon" item-left></ion-icon>
                {{ menuitem.text }}
            </button>
        </ion-list>

    </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>