<!--
  Generated template for the PrizeRedemption page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>prize-redemption</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <img [src]="HeaderImage" />


    <ion-card-header>
      {{ Description }}

      <span style="font-weight: 600;"> Originally Claimed : {{ data.CreatedAt | data['short'] }} </span>
</ion-card-header>
<div class="cardFooter">
  <span class="prize-data"> {{ UniqueCode }}
    </div>
  </ion-card>


    <ion-fab>
      <button ion-fab color="primary" (click)="shareNow()"> Button </button>
    </ion-fab>
</ion-content>