page-prize-redemption {

    .cardFooter {
        width: 100%;
        height: 67px;
        background: rgba(183,28,28 ,1);
        font-size: 2em;
        text-align: center;
        color: #fff;
        padding: .5em 0;
        text-transform: uppercase;
        position: relative;

        .prize-data::before {
            content: 'Prize Code :';
            font-size: 0.4em;
            position: absolute;
            top: 5px;
            left: 5px;
            text-transform: capitalize;
        }
    }

}
