<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>

        </ion-buttons>

        <ion-title>
            Reset Password
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <form [formGroup]="resetPassword" (ngSubmit)="submit()">

                <div style="white-space: normal; text-align: center; font-size: 1.15em"> Please Enter your email below and we will send you a Password Reset Email.
</div>

<ion-item>
    <ion-input type="email" formControlName="email" placeholder="Email Address" [ngClass]="{'invalid':!resetPassword.controls['email'].valid}"></ion-input>
</ion-item>
<button ion-button type="submit" [disabled]="!resetPassword.valid" block> Reset Password </button>
</form>
</ion-card-content>
</ion-card>
</ion-content>